.wpsaas-coupon-wrap .wpsaas-coupon-field {
    text-align: center;
    margin-top: 30px;
}
.wpsaas-coupon-wrap .coupon_code {
    width: 50%;
}
.wpsaas-coupon-wrap .apply_code {
	margin-left: -10px;
}
.wpsaas-plan-checkout-main, .wpsaas-plan-checkout-main * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wpsaas-plan-checkout-step {
	margin: 0 0 40px;	
	display: -webkit-inline-box;
	display: inline-flex;
	text-align: center;
	width: 100%;
}
.wpsaas-plan-checkout-step li {
	border-bottom: 4px solid #ccc;
	width: 100%;
	margin: 0;
	font-size: 16px;
	color: #666;
	list-style: none;
	padding-bottom: 20px;
	position: relative;
}
.wpsaas-plan-checkout-step li::before {
	content: "";
	position: absolute;
	bottom: -9px;
	left: 50%;
	border: 4px solid #ccc;
	border-radius: 50%;
	width: 14px;
	height: 14px;
	background-color: #fff;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}
.wpsaas-plan-checkout-step li.active {
	border-bottom-color: #007cba;
	color: #007cba;
	font-weight: bold;
}
.wpsaas-plan-checkout-step li.active::before {
	border-color: #007cba;
}
.wpsaas-plan-tabs ul.ui-tabs-nav {
	text-align: center;
	display: flex;
	margin-bottom: 50px;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}
.wpsaas-plan-tabs ul.ui-tabs-nav li {
	padding-right: 10px;
}
.wpsaas-plan-tabs ul.ui-tabs-nav li:last-child {
	padding-right: 0;
}
.wpsaas-plan-tabs ul.ui-tabs-nav li a {
	display: inline-block;
	vertical-align: top;
	background-color: #ccc;
	color: #fff;
	padding: 15px 30px;
	font-size: 16px;
	line-height: 1.2;
	text-decoration: none;
}
.wpsaas-plan-tabs ul.ui-tabs-nav li.ui-tabs-active a {
	background-color: #007cba;
}
.wpsaas-plan-tabs-wrap {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.wpsaas-plan-tabs-wrap .wpsaas-single-plan {
	width: 33.33%;
	padding-left: 15px;
	padding-right: 15px;
}
.wpsaas-single-plan-wrap {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px 20px;
}
#wpsaas-plan-checkout-main .wpsaas-plan-name h5 {
	margin: 0 0 10px !important;
	text-align: center;
	font-size: 23px;
	color: #666;
	font-weight: 400;
	line-height: 1.2;
	border-bottom: 1px solid #666;
	padding-bottom: 10px;
}
.wpsaas-plan-price {
	font-size: 30px;
	text-align: center;
	color: #666;
	line-height: 1.2;
	margin-bottom: 5px;
}
#wpsaas-plan-checkout-main .wpsaas-plan-note p {
	margin-bottom: 0;
	text-align: center;
	font-size: 13px;
	line-height: 1.2;
	color: #666;
}
.wpsaas-plan-note {
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.wpsaas-sign-up-btn {
	text-align: center;
}
.wpsaas-sign-up-btn .wpsaas-sign-up {
	display: inline-block;
	vertical-align: top;
	line-height: 1.2;
	font-size: 16px;
	border-radius: 25px;
	padding: 10px 70px;
	background-color: #007cba;
	color: #fff;
	cursor: pointer;
	font-weight: 400;
}
#wpsaas-plan-checkout-main .wpsaas-site-setup-title h2 {
	text-align: center;
	color: #666;
	font-size: 42px;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 30px;
}
.wpsaas-site-setup-wrap {
	max-width: 600px;
	margin: 0 auto;
	padding-top: 40px;
}
#wpsaas-plan-checkout-main .wpsaas-field-wrap input,
.wpsaas-domain-wrap-field {
	width: 100%;
	background-color: #fff;
	border: 1px solid #eee;
	margin-bottom: 30px !important;
	text-align: center;
	height: 55px;
	font-size: 18px;
	color: #666;
}
.wpsaas-field-wrap label {
	text-align: center;
	display: block;
	font-size: 18px;
	color: #999;
	line-height: 1.2;
}
#wpsaas-plan-checkout-main .wpsaas-field-wrap .wpsaas-domain-wrap-field input {
	width: 50%;
	border: 0;
	box-shadow: none;
	text-align: right;
	padding: 0;
	margin-bottom: 0 !important;
	height: auto;
}
.wpsaas-domain-wrap-field {
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.wpsaas-domain-prefix {
	width: 50%;
}
#wpsaas-plan-checkout-main .wpsaas-field-wrap .wpsaas-domain-wrap-field .wpsaas-domain-prefix + input {
	text-align: left;
}
.wpsaas-domain-prefix.wpsaas-domain-before {
	text-align: right;
}
.wpsaas-radio-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#wpsaas-plan-checkout-main .wpsaas-field-wrap input[type="radio"] {
	height: auto;
	width: auto;
	margin-bottom: 0 !important;
	margin-right: 10px;
}
.wpsaas-radio-wrap label + label {
	padding-left: 20px;
}
.wpsaas-site-setup-btn.wpsaas-sign-up-btn {
	padding-top: 40px;
}
.wpsaas-site-setup-btn .wpsaas-sign-up {
	padding: 10px 30px;
}
.msg_wrap {
	max-width: 600px;
	margin: 0 auto;
}
.error p {
	margin: 10px 0 0;
	color: #f00;
	font-size: 16px;
	line-height: 1.2;
}
.wpsaas-payment-note p {
	margin: 0 0 0px;
	text-align: center;
	font-size: 27px;
	line-height: 1.5;
	color: #89c094;
}
.wpsaas-payment-note {
	padding-bottom: 20px;
}
.wpsaas-left-block h2 {
	color: #707070;
	font-size: 38px;
	line-height: 1.5;
	margin: 0 0 20px;
	text-transform: none;
}
.wpsaas-plan-detail-wrap p {
	font-size: 22px;
	margin-bottom: 10px;
	line-height: 1.5;
	color: #707070;
	display: block;
}
.wpsaas-payment-blocks {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.wpsaas-left-block {
	width: 65%;
	padding-left: 15px;
	padding-right: 15px;
}
.wpsaas-right-block {
	width: 35%;
	padding-left: 15px;
	padding-right: 15px;
}
.wpsaas-payment-stripe-wrap {
	background-color: #f7f7f7;
	padding: 40px 50px;
}
.wpsaas-stripe-price-info {
	text-align: center;
	padding-bottom: 20px;
}
.wpsaas-stripe-price-info .wpsaas-price {
	color: #000;
	font-size: 30px;
	line-height: 1.5;
}
.wpsaas-length .wpsaas-plan-length {
	color: #707070;
	font-size: 27px;
	line-height: 1.5;
	display: block;
}
.wpsaas-stripe-wrap .form-group input {
	width: 100%;
	background-color: #fff;
	height: 40px;
	padding: 0 10px;
	font-size: 17px;
	color: #666;
	border: 1px solid #ccc;
	margin-top: -1px;
}
.wpsaas-stripe-wrap .form-group input::-webkit-input-placeholder {
  color: #ccc;
  opacity: 1;
}
.wpsaas-stripe-wrap .form-group input::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
.wpsaas-stripe-wrap .form-group input:-ms-input-placeholder {
  color: #ccc;
  opacity: 1;
}
.wpsaas-stripe-wrap .form-group input:-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
.wpsaas-stripe-wrap .form-group-half {
	display: flex;
	flex-wrap: wrap;
}
.wpsaas-stripe-wrap .form-group-half input {
	width: 50%;
}
.wpsaas-stripe-wrap .form-group-half input + input {
	border-left: 0;
}
.wpsaas-stripe-button-wrap {
	padding-top: 30px;
}
.wpsaas-stripe-button-wrap .wpsaas-stripe-button {
	width: 100%;
	background-color: #3ba6e4;
	color: #fff;
	font-size: 23px;
	line-height: 1.2;
	padding: 11px 10px;
	border-radius: 5px;
	text-transform: none;
}
