html.wp-toolbar {
	padding-top: 0;
}
#adminmenumain, .update-nag, #wpadminbar, #wpfooter {
	display: none;
}
body #wpcontent {
	max-width: 1130px;
	margin: 0 auto;
	width: 100%;
	padding: 0 15px;
}
#wpcontent, #wpfooter {
	margin-left: 0px;
}
.wpsaas-pro_page_setup-wpsaas {
	background-color: #fff;
}
.wpsaas-popup {
	height: auto;
	position: relative;
	overflow-y: hidden;
	margin-right: 17px;
}
.wpsaas-popup::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
}
.wpsass-setup-wizard-main {
	padding-top: 60px;
	padding-bottom: 40px;
}
.wpsass-setup-wizard-main, .wpsass-setup-wizard-main * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wpsass-setup-wizard-main-logo-wrap {
	text-align: center;
	padding-bottom: 40px;
}
.wpsass-setup-wizard-main-logo {
	width: 120px;
	display: inline-block;
	vertical-align: top;
}
.wpsass-setup-wizard-main-logo img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}
.wpsass-setup-wizard-step {
	margin: 0;
	border-bottom: 2px solid #007cba;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 30px;
}
.wpsass-setup-wizard-step li {
	width: 20%;
	margin-bottom: 0;
	font-size: 16px;
	color: #666;
}
.wpsass-setup-wizard-step li.active {
	color: #007cba;
	font-weight: bold;
}
.wpsass-setup-wizard-content {
	background-color: #f1f1f1;
	padding: 20px;
	margin-top: 20px;
}
.wpsass-setup-wizard-title {
	margin: 0;
	text-align: center;
	font-size: 50px;
	color: #666;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 20px;
}
.wpsass-setup-wizard-subcontent {
	padding-bottom: 30px;
}
.wpsass-setup-wizard-subcontent p {
	text-align: center;
	font-weight: bold;
}
.wpsass-setup-wizard-subscribe-popup .mc-field-group label,
.wpsass-setup-wizard-block label {
	display: block;
	font-weight: bold;
	color: #666;
	margin-bottom: 10px;
	font-size: 16px;
}
.wpsass-setup-wizard-subscribe-popup #mc_embed_signup .mc-field-group input,
.wpsass-setup-wizard-extensions-search input[type="text"], 
.wpsass-setup-wizard-block input[type="text"], 
.wpsass-setup-wizard-block input[type="file"], 
.wpsass-setup-wizard-plan select {
	border-radius: 25px;
	width: 100%;
	height: 50px;
	padding: 11px 20px;
	line-height: 1;
	font-size: 16px;
	color: #666;
	background-color: #fff;
	border: 1px solid #7e8993;
}
.wpsass-setup-wizard-row {
	display: flex;
	flex-wrap: wrap;
}
.wpsass-setup-wizard-row .col-8 {
	width: 66.66%;
}
.wpsass-setup-wizard-row .col-4 {
	width: 33.33%;
}
.wpsass-setup-wizard-block {
	padding-right: 50px;
	padding-bottom: 30px;
}
.wpsass-setup-wizard-btn {
	text-align: right;
	padding-top: 30px;
	position: relative;
}
.action-button {
	background-color: #007cba;
	box-shadow: 0 0 3px #999;
	border: 0;
	color: #fff;
	border-radius: 25px;
	font-size: 18px;
	line-height: 1.2;
	padding: 11px 50px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
}
.wpsass-setup-wizard-btn .action-button.previous {
	background-color: #ccc;
	margin-right: 20px;
}
.action-button:hover {
	color: #fff;
}
.wpsass-setup-wizard-content table {
	box-shadow: 0 0 8px #ddd;
}
.wpsass-setup-wizard-content table.level-settings {
	margin-top: 50px;
}
.wpsass-setup-wizard-plan {
	padding-right: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.wpsass-setup-wizard-plan label {
	font-size: 16px;
	font-weight: bold;
	color: #666;
	display: inline-block;
	vertical-align: top;
}
.wpsass-setup-wizard-plan select {
	margin-left: 30px;
	width: 120px;
}
.wpsass-setup-wizard-plan label input[type="checkbox"] {
	margin-left: 15px;
}
input[type="text"].wpsass-setup-wizard-offer ,
input[type="number"].wpsass-setup-wizard-offer {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	background-color: #fff;
	border-radius: 25px;
	border: 1px solid #7e8993;
	padding: 10px 10px;
	width: 100px;
	text-align: center;
	font-size: 16px;
	color: #007cba;
	margin-left: 20px;
}
.wpsass-setup-wizard-payment-wrap {
	max-width: 500px;
	margin: 0 auto;
	padding: 50px 0 30px;
}
.wpsass-setup-wizard-payment-block {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-bottom: 50px;
}
.wpsass-setup-wizard-payment-img {
	width: 220px;
	padding-right: 40px;
}
.wpsass-setup-wizard-payment-img img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
.wpsass-setup-wizard-payment-label label {
	font-weight: bold;
	font-size: 16px;
	color: #666;
	display: inline-block;
	vertical-align: top;
	padding-right: 10px;
}
.wpsass-setup-wizard-payment-label label span {
	width: 150px;
	display: inline-block;
	vertical-align: top;
}
.wpsass-setup-wizard-payment-img p {
	margin: 0;
	text-align: center;
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 10px;
	padding: 10px 10px 13px;
	font-size: 16px;
	font-style: italic;
	line-height: 1.2;
}
.wpsass-setup-wizard-extensions-wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	padding-top: 20px;
}
.wpsass-setup-wizard-extensions-block {
	margin-bottom: 30px;
	width: 33.33%;
	padding: 0 15px;
}
.wpsass-setup-wizard-extensions-content {
	background-color: #fff;
	padding: 50px 20px 20px;
	text-align: center;
	border-radius: 14px;
	box-shadow: 0 0 5px #ccc;
	height: 100%;
}
.wpsass-setup-wizard-extensions-pro .wpsass-setup-wizard-extensions-content {
	box-shadow: 0 0 5px #007cba;
}
.wpsass-setup-wizard-extensions-title {
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 22px;
	line-height: 1.2;
	min-height: 60px;
}
.wpsass-setup-wizard-extensions-desc {
	margin: 0 0 10px;
	font-weight: bold;
	line-height: 1.2;
	min-height: 100px;
}
.wpsass-setup-wizard-extensions-enable:after {
	content: "";
	display: block;
	clear: both;
}
.wpsass-setup-wizard-extensions-enable p {
	margin: 0;
	font-size: 18px;
	color: #ccc;
	float: left;
	font-weight: bold;
	line-height: 1.2;
}
.wpsass-setup-wizard-extensions-pro .wpsass-setup-wizard-extensions-enable p {
	color: #333;
	font-size: 20px;
}
.wpsass-setup-wizard-extensions-enable label {
	float: right;
	font-size: 18px;
	color: #666;
}
.wpsass-setup-wizard-extensions-enable label input[type="checkbox"] {
	margin-left: 10px;
}
.wpsass-setup-wizard-extensions-search input[type="text"] {
	width: 200px;
	display: inline-block;
	vertical-align: top;
}
.wpsass-setup-wizard-extensions-search {
	text-align: right;
	padding-top: 20px;
}
.wpsass-setup-wizard-ready-sec {
	background-color: #fff;
	padding: 20px 10px 20px;
	max-width: 620px;
	margin: 0 auto;
}
.wpsass-setup-wizard-ready-title::after {
	content: "";
	display: block;
	clear: both;
}
.wpsass-setup-wizard-ready-title h3 {
	float: left;
	color: #999;
	margin: 0;
}
.wpsass-setup-wizard-twitter {
	float: right;
}
.wpsass-setup-wizard-twitter a {
	display: inline-block;
	vertical-align: top;
	padding: 7px 16px;
	border-radius: 4px;
	background-color: #007cba;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	font-weight: bold;
	line-height: 1.2;
}
.wpsass-setup-wizard-ready-sec p {
	margin: 0;
	color: #777;
	font-weight: 600;
	line-height: 1.5;
}
.wpsass-setup-wizard-ready-title {
	padding-bottom: 20px;
}
.wpsass-setup-wizard-subscribe-main h3 {
	text-align: center;
	font-size: 23px;
	font-style: italic;
	font-weight: 400;
}
.wpsass-setup-wizard-subscribe-btn {
	text-align: center;
}
.wpsass-setup-wizard-skip {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: #999;
	font-weight: bold;
	font-size: 16px;
	position: absolute;
	bottom: -50px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}
.msg_wrap > div {
	margin: 0 0 20px;
}
.wpsass-setup-wizard-subscribe-main {
	padding-bottom: 30px;
}
.wpsass-setup-wizard-newsletter-btn {
	text-align: center;
}
.wpsass-setup-wizard-newsletter-btn a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	background-color: #fff;
	border: 2px solid #333;
	border-radius: 10px;
	padding: 10px 30px 12px;
	font-size: 20px;
	color: #333;
	line-height: 1.2;
}
.wpsass-setup-wizard-newsletter-btn a:hover {
	background-color: #007cba;
	border-color: #007cba;
	color: #fff;
}
.wpsass-setup-wizard-subscribe-popup {
	position: fixed;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	left: 50%;
	width: 40%;
	background-color: #fff;
	padding: 30px;
	box-shadow: 0 0 9px #ccc;
	z-index: 9;
}
.subscribe-popup-close {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	background-color: #007cba;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
	position: absolute;
	top: -15px;
	right: -17px;
}
.wpsass-setup-wizard-subscribe-popup #mc_embed_signup h2 {
	margin: 0 0 40px;
	text-align: center;
	font-size: 45px;
	line-height: 1.2;
	color: #666;
	font-weight: 500;
}
.wpsass-setup-wizard-subscribe-popup #mc_embed_signup .button {
	background-color: #007cba;
	border: 0 none;
	border-radius: 25px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	font-weight: normal;
	padding: 12px 32px;
	line-height: 1.2;
	text-decoration: none;
	vertical-align: top;
}
.wpsaas-mailchimp-btn {
	text-align: center;
	padding-top: 30px;
}
.wpsass-setup-wizard-ready-sec p.payment-note-text {
	font-style: italic;
	margin-top: 30px;
	font-size: 16px;
	font-weight: 400;
}
.wpsaas-desc {
	font-style: italic;
	font-size: 16px;
}